.wrapper {
  overflow-x: hidden;
  min-width: 300px;
  p {
    font-size: 14px;
    font-weight: 600;
    line-height: 22px;
    text-align: left;
    color: var(--text-color-quaternary);
    margin-bottom: 8px;
  }
  .search_box {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
    padding: 4px 16px 4px 8px;
    gap: 8px;
    border-radius: 6px;
    // min-width: max-content;
    color: var(--border-color-primary);
    min-height: 36px;
    background-color: "white";
    .input {
      flex-grow: 1;
      border: none;
      outline: none;
    }
    .line {
      display: block;
      min-height: 20px;
      height: 90%;
      width: 1px;
      background-color: var(--border-color-primary);
    }
  }
}
@media (max-width: 600px) {
  .wrapper {
    width: 100% !important;
  }



 
}